---

---

<section class="overflow-hidden h-full">
  <div class="mx-auto px-4">
    <div class="flex flex-col items-center justify-center mt-72">
      <h1 class="text-4xl font-light text-theme-blue mb-4">Login</h1>
      <div class="vintage-divider w-full mb-5"></div>
      <form class="w-full max-w-sm" action="/api/auth/signin" method="POST">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="email"
            name="email"
            placeholder="Email"
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            name="password"
            placeholder="******************"
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-theme-gold text-theme-blue border-2 border-theme-blue shadow-[2px_2px_0px_#2A3858] hover:shadow-none hover:translate-x-[2px] hover:translate-y-[2px] transition-all px-4 py-2 rounded-2xl cursor-pointer w-full font-bold"
            type="submit"
          >
            Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
