---
import { ADMIN_MENU } from "@consts/menus";
import { Image } from "astro:assets";
---

<nav
  id="side-navbar"
  class="side-navbar transition-all duration-300 collapsed z-50 overflow-hidden"
>
  <button
    id="ham-menu"
    type="button"
    class="ham-button cursor-pointer flex items-center flex-col justify-center w-full"
  >
    <Image
      src="/logo-icon.png"
      alt="logo"
      class="w-12 duration-100 transform hover:scale-110 mx-auto pt-6"
      width={64}
      height={64}
    />
  </button>
  <ul class="flex flex-col text-black cursor-pointer h-full mt-12">
    {
      ADMIN_MENU.map((item) => (
        <li class="hover:text-theme-gold transition-all duration-200 active:text-theme-blue hover:bg-theme-blue">
          <a href={item.href} class="flex items-center gap-3 py-4 px-4 w-full">
            <span class="size-6 flex items-center justify-center">
              <item.icon />
            </span>
            <span class="menu-label">{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script type="module">
  const hamMenu = document.querySelector("#ham-menu");
  const sideNavbar = document.querySelector("#side-navbar");

  hamMenu.addEventListener("click", () => {
    sideNavbar.classList.toggle("collapsed");
  });

  // Also open the navbar when clicking on any menu item but it will be removed later maybe. Maybe just not expand the navbar when clicking on the menu items.
  document.querySelectorAll("#side-navbar li").forEach((li) => {
    li.addEventListener("click", () => {
      sideNavbar.classList.remove("collapsed");
    });
  });
</script>

<style>
  .side-navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 13rem; /* expandido */
    overflow-x: hidden;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .side-navbar.collapsed {
    width: 4.5rem; /* solo iconos */
  }

  .side-navbar .menu-label {
    display: inline-block;
    white-space: nowrap;
    transition: opacity 0.2s ease;
  }

  .side-navbar.collapsed .menu-label {
    opacity: 0;
    width: 0;
    overflow: hidden;
    display: none;
  }
</style>
