---
import { ADMIN_MENU } from "@consts/menus";
import { Image } from "astro:assets";
---

<button
  id="ham-menu"
  type="button"
  class="text-black font-bold text-2xl ham-button cursor-pointer z-50 fixed p-10"
>
  <Image
    src="/logo-icon.png"
    alt="logo"
    class="w-16 duration-100 transform hover:scale-110 mx-auto"
    width={64}
    height={64}
  />
</button>

<nav
  id="off-screen-menu"
  class="fixed flex-col w-52 bg-white h-min-screen h-full pt-32 pb-20 shadow-2xl"
>
  <ul class="flex flex-col text-black cursor-pointer h-full">
    {
      ADMIN_MENU.map((item) => (
        <li class="hover:text-theme-gold transition-all duration-200 active:text-theme-blue hover:bg-theme-blue ">
          <a
            href={item.href}
            class="underline-animation py-4 pr-4 pl-10 w-full"
          >
            <span>{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<script>
  const hamMenu = document.querySelector("#ham-menu") as Element;

  const offScreenMenu = document.querySelector("#off-screen-menu") as Element;

  hamMenu.addEventListener("click", () => {
    hamMenu.classList.toggle("active");
    offScreenMenu.classList.toggle("active");
  });
</script>

<style>
  #off-screen-menu {
    left: -450px;
    transition: 0.1s ease;
  }

  #off-screen-menu.active {
    left: 0;
  }

  #ham-menu.active {
    transition: 0.3s ease;
    transform: translateX(2rem);
  }

  #ham-menu {
    transition: 0.3s ease;
    transform: translateX(0);
  }
</style>
