---

---

<section
  id="main-section"
  class="relative overflow-hidden bg-theme-blue pt-52 md:pt-60 pb-32 md:pb-40 text-white animate-fade-in-up border-b-theme-gold border-b-6"
>
  <div
    class="absolute top-0 left-0 h-full w-full bg-[radial-gradient(#dac8a4_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)] opacity-20"
  >
  </div>
  <div class="container mx-auto px-4">
    <div class="relative z-10 max-w-2xl">
      <div
        class="mb-6 inline-block rounded-sm border-2 border-theme-gold px-3 py-1 text-xs uppercase tracking-widest text-theme-gold animate-fade-in-up animate-delay-300"
      >
        Desde 2024
      </div>
      <h1
        class="text-4xl font-light leading-tight md:text-5xl lg:text-6xl animate-fade-in-up animate-delay-500"
      >
        Elegancia atemporal en cada <span class="text-theme-gold italic"
          >detalle</span
        >
      </h1>
      <p
        class="mt-15 text-lg text-white/80 animate-fade-in-up animate-delay-700"
      >
        Relojes únicos para personas únicas. En Tiempo Noble, cada reloj es una
        historia diferente, vivela con estilo.
        <!-- <br /> La elegancia siempre ha sido un accesorio... -->
      </p>
      <button
        class="bg-theme-blue text-theme-gold border-2 border-theme-gold shadow-[2px_2px_0px_#DAC8A4] hover:shadow-none hover:translate-x-[2px] hover:translate-y-[2px] transition-all px-4 py-2 rounded-2xl mt-6 cursor-pointer font-medium animate-fade-in-up animate-delay-700"
        onclick="window.location.href='/catalog'"
        type="button"
      >
        Explorar Catálogo
      </button>
    </div>
  </div>
  <div class="absolute right-0 top-0 h-full w-1/2 opacity-70">
    <img
      src="/seiko-pres-srpd37.webp"
      alt="Reloj vintage"
      class="object-cover h-full w-full object-center mask-l-to-90% mask-l-from-50%"
    />
  </div>
</section>
