---
import { MAIN_MENU } from "@consts/menus";
import Menu from "@components/icons/astro/Menu.astro";
import { Image } from "astro:assets";
---

<!-- Desktop Navbar -->
<nav
  class="w-full fixed z-50 bg-white shadow-md top-0 uppercase text-sm text-theme-blue"
>
  <div
    class="container px-10 py-6 flex items-center lg:items-center justify-between mx-auto"
  >
    <a class="text-black font-bold text-2xl" href="/" aria-label="Home">
      <Image
        src="/logo.webp"
        alt="logo"
        class="w-30 md:w-34 duration-100 transform hover:scale-110 md:inline-block"
        width={136}
        height={34}
      />
    </a>

    <ul class="hidden md:flex gap-8 text-black cursor-pointer ml-auto">
      {
        MAIN_MENU.map((item) => (
          <li class="hover:text-theme-blue transition-all duration-200 active:text-theme-blue">
            <a href={item.href} class="underline-animation">
              <span>{item.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<!-- Mobile Navbar -->
<button
  type="button"
  id="ham-menu"
  aria-label="Toggle Menu"
  class="text-black font-bold text-2xl ham-button cursor-pointer z-50 right-0 fixed m-10 md:hidden"
>
  <Menu />
</button>

<nav
  id="off-screen-menu"
  class="fixed flex-col w-52 bg-white h-min-screen h-full pt-26 md:pt-32 pb-20 shadow-2xl z-30 md:hidden"
>
  <ul class="flex-col text-black cursor-pointer h-full">
    {
      MAIN_MENU.map((item) => (
        <li class="hover:text-theme-gold transition-all duration-200 active:text-theme-blue hover:bg-theme-blue z-40">
          <a
            href={item.href}
            class="underline-animation py-4 pr-4 pl-10 w-full"
          >
            <span>{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<script>
  const hamMenu = document.querySelector("#ham-menu") as Element;

  const offScreenMenu = document.querySelector("#off-screen-menu") as Element;

  hamMenu.addEventListener("click", () => {
    requestAnimationFrame(() => {
      hamMenu.classList.toggle("active");
      offScreenMenu.classList.toggle("active");
    });
  });
</script>

<style>
  #off-screen-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    will-change: transform;
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;
  }

  #off-screen-menu.active {
    transform: translateX(0%);
  }

  /* #ham-menu.active {
    transition: 0.1s ease;
    transform: translateX(1rem);
  }

  #ham-menu {
    transition: 0.1s ease;
    transform: translateX(0);
  } */
</style>
